@import "variables";
@import "mixins";

.wrapperDevice {
  width: 100%;
}

.device {
  width: 1024px;
  margin: 0 auto;
  height: 700px;
  padding: 15px;
  position: relative;


  @include mediaIpadVertical {
    max-width: 768px;
    width: 100%;
    height: 1160px;
  }

 @include mediaMobileHorizontal {
   max-width: 570px;
   height: 320px;
 }

  @include mediaMobileVertical {
    max-width: 320px;
    height: 550px;
  }
}

.shellDevice {
  border: 4px solid #757575;
  height: 100%;
  position: relative;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;

  @include mediaIpadVertical {
    grid-template-rows: 150px 1fr 150px;
    grid-template-columns: none;
  }

  @include mediaMobileHorizontal {
    grid-template-columns: 50px 1fr 70px;
    grid-template-rows: none;
  }

  @include mediaMobileVertical {
    grid-template-rows: 50px 1fr 70px;
    grid-template-columns: none;
  }
}

.headerDevice {
  position: relative;
}

.bottomDevice {
  position: relative;
}

.cameraDevice {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  background-color: #757575;
  border-radius: 50%;

  @include mediaMobileHorizontal {
    width: 16px;
    height: 16px;
    left: 33%;
  }

  @include mediaMobileVertical {
    left: 50%;
    top: 33%;
  }
}

.buttonDevice {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid #757575;
}

.miniCameraDevice {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mediaMobileHorizontal {
    border: 1px solid #fff;
    width: 7px;
    height: 7px;
  }
}

.figureButtonDevice {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 3px solid #757575;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.noises {
  display: none;
  width: 20px;
  height: 67px;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translateY(-50%);
  justify-content: space-around;
  align-items: center;
  flex-flow: column-reverse;

  @include mediaMobileHorizontal {
    display: flex;
  }

  @include mediaMobileVertical {
    left: 50%;
    top: 52%;
    height: 20px;
    width: 67px;
    flex-flow: row-reverse;
    transform: translateX(-50%);
  }
}

.line {
  border: 2px solid #757575;
  height: 50px;
  width: 10px;
  border-radius: 5px;

  @include mediaMobileVertical {
    width: 50px;
    height: 10px;
  }
}

.point {
  height: 5px;
  width: 5px;
  background-color: #757575;
  border-radius: 50%;
}

.buttons {
  display: none;
  width: 110px;
  justify-content: space-between;
  margin-left: 100px;
  margin-bottom: -2px;

  @include mediaMobileHorizontal {
    display: flex;
  }

  @include mediaMobileVertical {
    position: absolute;
    transform: rotate(-90deg);
    left: -40px;
    top: 120px;
    flex-flow: row-reverse;
    margin-left: 0;
  }
}

.button {
  display: none;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background-color: #757575;

  &.buttonLarge {
    width: 25px;
  }

  &.superLarge {
    width: 35px;
    position: absolute;
    transform: rotate(90deg);
    left: -3px;
    bottom: 90px;
  }

  @include mediaMobileHorizontal {
    display: block;
  }

  @include mediaMobileVertical {
    right: 70px;
    top: 12px;
    left: initial!important;
    transform: none!important;

  }
}

