@import "variables";
@import "mixins";

.groupIcons {
  display: grid;
  grid-auto-rows: minmax(70px, 70px);
  grid-template-columns: repeat(5, 75px);
  align-items: center;
  grid-gap: 25px 50px;

  @include mediaIpadVertical {
    grid-auto-rows: minmax(70px, 70px);
    grid-template-columns: repeat(4, 83px);
    grid-gap: 30px 50px;
  }

  @include mediaMobileHorizontal {
    grid-auto-rows: minmax(40px, 40px);
    grid-template-columns: repeat(4, 50px);
    grid-gap: 40px 30px;
  }

  @include mediaMobileVertical {
    grid-auto-rows: minmax(15px, 15px);
    grid-template-columns: repeat(4, 37px);
    grid-gap: 40px 22px;
  }
}
