@import "variables";
@import "mixins";

.screenDevice {
  height: 100%;
  border-bottom: 50px solid #fff;
  border-top: 50px solid #fff;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #c8c8c8 url("../assets/background.jpg") no-repeat center / cover;

  @include mediaIpadVertical {
    border: none;
    border-left: 60px solid #fff;
    border-right: 60px solid #fff;
    padding: 66px;
  }

  @include mediaMobileHorizontal {
    border: none;
    border-bottom: 25px solid #fff;
    border-top: 25px solid #fff;
    padding: 10px 60px 10px 60px;
  }

  @include mediaMobileVertical {
    border: none;
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    padding: 10px;
  }
}

.slider {
  min-width: 100000px;
  display: grid;
  transition: transform 0.2s ease-in-out;
}

.buttonsSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 20px 0;
}

.mainIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;

  @include mediaIpadVertical {
    margin: 100px auto 0 auto;
  }

  @include mediaMobileHorizontal {
    margin: 5px auto 30px auto;
  }
}

.iconItem {
  height: 50px;
  cursor: pointer;
  width: 50px;
  font-size: 14px;
  color: #fff;
  text-align: center;

  @include mediaMobileVertical {
    font-size: 10px;
  }
}
