@import "variables";
@import "mixins";

.screen {
  display: flex;
  justify-content: center;
  position: relative;

  @include mediaIpadVertical {
    justify-content: start;
  }

  &:first-child .prevScreen {
    display: none;
  }

  &:last-child .nextScreen {
    display: none;
  }

  & .prevScreen, & .nextScreen {
    border: none;
    background-color: transparent;
    width: 100px;
    position: absolute;
    height: 300px;
  }

  & .prevScreen {
    left: 30px;

    @include mediaIpadVertical {
      height: 500px;
      left: -109px;
    }

    @include mediaMobileHorizontal {
      height: 400px;
      left: -110px;
    }

    @include mediaMobileVertical {
      height: 250px;
      left: -11px;
      width: 20px;
    }
  }

  & .nextScreen {
    right: 0;

    @include mediaIpadVertical {
      height: 500px;
      right: 220px;
    }

    @include mediaMobileHorizontal {
      height: 400px;
      right: 85px;
    }

    @include mediaMobileVertical {
      height: 250px;
      right: 8px;
      width: 20px;
    }
  }
}
