@import "variables";
@import "mixins";

.time {
  font-size: 14px;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6px;

  @include mediaIpadVertical {
    top: 26px;
  }

  @include mediaMobileHorizontal {
    top: 3px;
    font-size: 10px;
  }
}
